

   .masthead{
  padding: 60px;
  text-align: center;
  background-image: url('../img/money.png');
  color: white;
  font-size: 30px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

#logo {
    position: absolute;
    top:0;
    left:0;
}

.fa-facebook {
  background: #01F9C6;
  color: #31424A;
}

.fa-linkedin {
  background: #01F9C6;
  color: #31424A;
}


.fa-twitter {
  background: #01F9C6;
  color: #31424A;
}

.fa-instagram {
  background: #01F9C6;
  color: #31424A;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100px;
}

body {
    font-family: 'Unna', serif;
}
p {
    font-family: 'Quicksand', sans-serif;
    color:#31424A;
}

footer {    
background-color:#31424A;    
width: 100%;
    height: auto;
bottom: 0px; 
left: 0px; 
text-align: center; 
}

figure  {
    text-align: center;
    margin-left: auto;
}

   #wrapper {
text-align: center;
    }

.parent {
  display: flex;
  flex-wrap: wrap;
text-align: center;
}

.child {
  flex: 1 0 27%;
  margin: 5px;
  height: 20px;
  width: 20px; 
  padding-bottom: 30%;
  padding-top: 50s%;

}


@media only screen and (max-width: 35rem) {

     body {
  font-size : 0.75rem;
  line-height : 1.5;
 }
    
    article{
        text-align: left;
    }
        #logo {
    position: absolute;
    top:0;
    left:0;
}
    
    .masthead{
  padding: 60px;
  text-align: center;
  background-image: url('../img/money.png');
  color: white;
  font-size: 30px;
}

}

@media screen and (min-width: 35rem) and (max-width:80rem) {
 body {
  font-size : 1.0rem;
  line-height : 1.5;
 }
    
    #logo {
    position: absolute;
    top:0;
    left:0;
}
 

    .topic {
  width: 40%;
            font-family: 'Quicksand', sans-serif;

}
    p {
          width: 60%;

    }
    
}

@media (min-width:80rem) { /* hi-res laptops and desktops */ 

    article{
        text-align: left;
    }
    
       body {
  font-size : 1.25rem;
  line-height : 1.5;
 }
    
    .topic {
  width: 40%;
            font-family: 'Quicksand', sans-serif;

}
    p {
          width: 60%;
    }
    
        #logo {
    position: absolute;
    top:0;
    left:0;
}
}
