<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
<script src="https://https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
<h1>Portfolio</h1>
  <div class="parent">
  <div class="child"> 
   <img src="./img/placeholder.png" alt="description of image" /> 
      <p> Portfolio 1</p> 

  </div>
 <div class="child"> 
   <img id="topic" src="./img/placeholder.png" alt="description of image" /> 
      <p> Portfolio 2</p> 

  </div>
 <div class="child"> 
   <img id="topic" src="./img/placeholder.png" alt="description of image" /> 
      <p> Portfolio 3</p> 

  </div>
  <div class="child"> 
   <img id="topic" src="./img/placeholder.png" alt="description of image" />
   <p> Portfolio 4</p> 
  </div>
  <div class="child"> 
   <img id="topic" src="./img/placeholder.png" alt="description of image" /> 
      <p> Portfolio 5</p> 

  </div>
   <div class="child"> 
   <img id="topic" src="./img/placeholder.png" alt="description of image" /> 
      <p> Portfolio 6</p> 

  </div>
</div>

</body>
</html>

      


